@charset "UTF-8";

@import url("https://use.typekit.net/rpu5kiz.css");

/* CSS Document */
body{
	margin:0;
}
.wrapper{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-auto-rows: 100%;
}
.nav{
	grid-column: span 12;
	text-align: center !important;
}
.nav-button{
	margin-left:15px;
	margin-top:15px;
	width:50px;
	float:left;
	background-color:rgba(255,255,255,.6);
}
.nav-button:hover{
	background-color:rgba(0,200,250, .8);
}
.nav-button:active{
	background-color:red;
}
.menu{
	margin-top:30px;
	float:left;
	font-size:18px;
	font-family: 'Montserrat', sans-serif;
}
		.sidenav {
			height: 100%;
			width: 0;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: rgb(0, 200, 250);
			overflow-x: hidden;
			transition: 0.5s;
			padding-top: 60px;
			font-family: 'Montserrat', sans-serif;
			text-align: right;

		}

		.sidenav a {
			padding: 8px 25px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			color: white;
			display: block;
			transition: 0.3s;
			white-space: nowrap;
		}

		.sidenav a:hover {
			color: red;
		}

		.sidenav .closebtn {
			position: absolute;
			top: 0;
			right: 0px;
			font-size: 36px;
			margin-left: 50px;
		}

		@media screen and (max-height: 450px) {
		  .sidenav {padding-top: 40px;}
		  .sidenav a {font-size: 18px;}
		}

.header{
	grid-column: span 12;
	text-align: center !important;
}
.site-badge {
    display: block;
    margin: 0 auto;
}
.site-badge img:hover{

}

.header h1{
	text-align:center;
	font-size:1em;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight:100;
	margin-bottom:70px;
	color:#222222;
}

.content{
	grid-column: span 3;
	width:100%;
	height:100%;
	position:relative;
	padding: 0 !important;
}
@media screen and (min-width: 2400px){
	.content{
		grid-column: span 2;
	}
}
@media screen and (max-width: 2000px){
	.content{
		grid-column: span 3;
	}
}
@media screen and (max-width: 1100px){
	.content{
		grid-column: span 4;
	}
}
@media screen and (max-width: 750px){
	.content{
		grid-column: span 6;
	}
}
@media screen and (max-width: 450px){
	.content{
		grid-column: span 12;
	}
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:rgba(0,200,250,.8);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .3s ease;
  font-family: 'Merriweather Sans', sans-serif;
}

.content:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
	font-size:17px;
	text-align: center;
	white-space:nowrap;
	color: white;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/* WORK PAGES*/

.work-imgs{
	grid-column: span 9;
	float:left;
	height:100%;
}
.work-desc{
	grid-column: span 3;
	float:right;
}
