@charset "UTF-8";


/* CSS Document */
body{
	margin:0;
}

.wrapper{
	display:grid;
	grid-template-columns:repeat(12, 1fr);
	grid-auto-rows: 100%;
}
.wrapper{
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
	padding:2em 0em 0em 0em ;
}
.nav{
	grid-column: span 12;
	text-align: center !important;
	position:fixed;
	width:100vw;
	z-index:1;
	background-color:white;
}
.nav-afterspace{
	height:70px;
}
.nav-afterspace-imgs{
	height:70px;
}
.nav-button{
	margin-left:15px;
	margin-top:10px;
	margin-bottom:5px;
	width:50px;
	float:left;
}
.nav-button:hover{
	background-color:rgba(0,200,250, .8);
}
.nav-button:active{
	background-color:red;
}
.menu{
	margin-top:25px;
	float:left;
	font-size:18px;
	font-family: 'Montserrat', sans-serif;
}
		.sidenav {
			height: 100%;
			width: 0;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: rgb(0, 200, 250);
			overflow-x: hidden;
			transition: 0.5s;
			padding-top: 60px;
			font-family: 'Montserrat', sans-serif;
			text-align: right;

		}

		.sidenav a {
			padding: 8px 25px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			color: white;
			display: block;
			transition: 0.3s;
			white-space: nowrap;
		}

		.sidenav a:hover {
			color: red;
		}

		.sidenav .closebtn {
			position: absolute;
			top: 0;
			right: 0px;
			font-size: 36px;
			margin-left: 50px;
		}

		@media screen and (max-height: 450px) {
		  .sidenav {padding-top: 40px;}
		  .sidenav a {font-size: 18px;}
		}

.header{
	grid-column: span 12;
	text-align: center !important;
}
.site-badge {
    display: block;
    margin: 0 auto;
}

.header h1{
	text-align:center;
	font-size:1em;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight:100;
	margin-bottom:30px;
	color:#222222;
}
.header p{
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	line-height: 150%;
	font-size:15px;
	font-style: normal;
	font-weight:400;
}
.content{
	grid-column: span 3;
	width:100%;
	height:100%;
	position:relative;
	padding: 0 !important;
}

@media screen and (min-width: 2400px){
	.content{
		grid-column: span 2;
	}
}
@media screen and (max-width: 2000px){
	.content{
		grid-column: span 3;
	}
}
@media screen and (max-width: 1100px){
	.content{
		grid-column: span 4;
	}
}
@media screen and (max-width: 750px){
	.content{
		grid-column: span 6;
	}
}
@media screen and (max-width: 450px){
	.content{
		grid-column: span 12;
	}
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:rgba(0,200,250,.9);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .3s ease;
  font-family: 'Montserrat', sans-serif;
}

.content:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
	font-size:14px;
	color:white;
	width:80%;
	padding:20px;
	font-weight:700;
	text-align: center;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	text-transform: uppercase;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/*---------------------------MODAL STUFF------------------------------*/

.modalDialog {
position: fixed;
font-family: Arial, Helvetica, sans-serif;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(0,0,0,0.8);
z-index: 99999;
opacity:0;
-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
pointer-events: none;
}
.modalDialog:target {
opacity:1;
pointer-events: auto;
}
.modalDialog .work-content {
max-width: 800px;
width:80%;
height:100%;
position: relative;
margin: 0 auto;
padding: 5px 20px 13px 20px;
background: #fff;
overflow: auto;
}
.close {
color: black;
line-height: 30px;
position: absolute;
right:10px;
top:10px;
font-size:20px;
text-align: center;
width: 29px;
text-decoration: none;
}

.close:hover { background: #00d9ff; }

.work-content{
font-family: 'Montserrat', sans-serif;
}
.work-content img{
display: block;
width: 100%;
height: auto;
}
.work-content p{
font-size:14px;
line-height: 25px;
font-weight:300;
padding-bottom:20px;
}
.work-content p strong{
color:red;
}
.work-content h1{
padding-top:20px;
font-size:25px;
line-height: 1em;
font-weight:600;
text-transform: uppercase;
color:rgb(34, 34, 34);
}
.works-back{
position:fixed;
top:50%;
left:0;
font-family: 'Montserrat', sans-serif;
font-weight:400;
font-size: 1.5em;
color:white;
background-color: rgba(194, 194, 194, 0.8);
padding:40px 0px 40px 0px;
}
.works-next{
position:fixed;
top:50%;
right:0;
font-family: 'Montserrat', sans-serif;
font-weight:400;
font-size: 1.5em;
color:white;
background-color: rgba(194, 194, 194, 0.8);
padding:43px 0px 43px 0px;
}
.works-next a{
padding:43px 15px 40px 15px;
}
.works-back a{
padding:43px 15px 40px 15px;
}
.works-back a, .works-next a, .works-back a:active, .works-next a:active{
text-decoration: none;
color:white;
}
.works-back:hover, .works-next:hover, .works-back a:hover, .works-next a:hover{
	background-color:rgb(255,0,0);
}
		.works-mobile-footer{
			background-color:rgba(131, 131, 131, 0.8);
			position:fixed;
			bottom:0;
			width:100%;
		}
		.works-mobile-footer button{
			background:none;
			border:none;
			color:white;
			padding-top:5px;
			padding-bottom:5px;
			font-family: 'Montserrat', sans-serif;
			font-weight:400;
			font-size:1.5em;
		}
		.works-mobile-footer button a, .works-mobile-footer button a, .works-mobile-footer button a:active, .works-mobile-footer button a:active{
			text-decoration: none;
			color:white;
			}
		.prev{
			float:left;
			margin-left:25%;
		}
		.next{
			float:right;
			margin-right:25%;
		}
.video{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video iframe{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
@media screen and (min-width: 650px){
	.works-mobile-margin{
		display:none;
	}
	.works-mobile-footer{
		display:none;
	}
}
@media screen and (max-width: 650px){
	.pads{
		display:none;
	}
	.work-content h1 {
		padding:20px 30px 0 30px;
		font-size:20px;
	}
	.work-content p{
		padding:0px 30px 10px 30px;
	}
	.works-back, .works-next{
		display: none;
	}
	.works-mobile-margin{
		height:45px;
		background-color:rgb(194, 194, 194);
	}
	.modalDialog .work-content{
		width:100%;
		padding:0;
	}
}
/*----------------------------------ABOUT-----------------------------------*/
.nav-badge{
	float:right;
	padding:7px 27px 7px 7px;
}
.expand{
	font-size:50px;
	float:right;
	padding:2px 6px;
}
.about-content{
	grid-column:span 12;
	padding-top: 0;
	position:relative;
}
.about-red{
	color:red;
	font-weight:600;
}
.about-content{
	margin:0 auto;
	display:block;
	background-color:white;
	box-shadow: 2px 3px 10px 2px #e2e2e2;
	padding: 2% 5% 2% 5%;
	max-width:700px;
	font-family: 'Montserrat', sans-serif;
	font-weight:300;
	line-height: 25px;
	font-size:15px;
}
.skills{
	grid-column: span 12;
	position:relative;
}
.skills-content{
	margin:0 auto;
	display:block;
	background-color:rgb(0, 200, 250);
	box-shadow: 2px 3px 10px 2px #e2e2e2;
	padding: 1% 5% 2% 5%;
	max-width:700px;
	font-family: 'Montserrat', sans-serif;
	font-weight:300;
	line-height: 25px;
	font-size:15px;
	color:white;
}
.skills-content h1{
	font-weight: 100;
	color:white;
	line-height: 1.2em;
}
.skills-content strong{
	color:rgb(70,70,70);
}

.experience{
	grid-column: span 12;
	position:relative;
}
.experience-content{
	margin:0 auto;
	display:block;
	background-color:white;
	box-shadow: 2px 7px 10px 2px #e2e2e2;
	padding: 1% 5% 3% 5%;
	max-width:700px;
	font-family: 'Montserrat', sans-serif;
	font-weight:300;
	line-height: 25px;
	font-size:15px;
}
.experience-content h1{
	font-weight: 100;
}
.blue-italic{
	font-style:oblique;
	color:rgb(0,200,250);
}
.date-grey{
	font-size:13px;
	color:#929292;
}
.work-experience{
	margin-top:15px;
}
.work-experience p{
	margin:0 auto;
}
.jobdesc{
	font-size:14px;
}

.education{
	grid-column: span 12;
	position:relative;
}
.education-content{
	margin:0 auto;
	display:block;
	background-color:rgb(0, 200, 250);
	box-shadow: 4px 3px 10px 2px #e2e2e2;
	padding: 1% 5% 1% 5%;
	max-width:700px;
	font-family: 'Montserrat', sans-serif;
	font-weight:300;
	line-height: 25px;
	font-size:15px;
	color:white;
}
.education-content h1{
	font-weight: 100;
	color:white;
}
.education-content strong{
	color:rgb(70,70,70);
}
.education-content em{
	color:rgb(70,70,70);
}